<header class="header">
  <div class="logo">
    <img src="images/BrandLogo.png" alt="CapMeals logo" class="logo-img" />
  </div>

  <nav class="nav">
    <a routerLink="/meal-list" routerLinkActive="active" class="nav-link">Meals</a>
    <a routerLink="" routerLinkActive="active" class="nav-link">Today's Menu</a>
    <a routerLink="" routerLinkActive="active" class="nav-link">Reservations</a>
  </nav>

  <div class="user">
    <div class="user-info">
      <span class="user-name">Sarah Jenkins</span>
      <span class="user-id">GGID: 1048291</span>
    </div>
    <div class="avatar">SJ</div>
  </div>
</header>