<p-confirmDialog />

<div class="meal-list-container">
  <!-- Search and Filter Bar Section -->
  <div class="filter-bar">
    <div class="filter-options">
      <div class="filteration">
        <div class="search">
          <p-iconfield iconPosition="left">
            <input type="text" pInputText placeholder="Search" />
          </p-iconfield>
        </div>
        <div class="dropdown">
          <p-select
            [options]="dietaryFilter"
            [(ngModel)]="selectedDietary"
            optionLabel="label"
            [filter]="true"
            filterBy="label"
            [checkmark]="true"
            placeholder="Select Dietary"
            class="w-full md:w-56"
            [pt]="{ option: { class: 'flex-row-reverse justify-between' } }"
          >
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <img
                  src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + selectedOption.code"
                  style="width: 18px; height: 12px"
                />
                <span>{{ selectedOption.label }}</span>
              </div>
            </ng-template>
            <ng-template let-language #item>
              <div class="flex items-center gap-2">
                <img
                  src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + language.code"
                  style="width: 18px; height: 12px"
                />
                <span>{{ language.label }}</span>
              </div>
            </ng-template>
          </p-select>
        </div>
      </div>
    </div>

    <button type="button" class="btn-create-meal" (click)="navToCreate()">
      <span class="plus-icon">+</span> Create Meal
    </button>

    <!-- Responsive Cards Grid -->
  </div>
  <div class="meals-grid">
    @if (isLoading()) {
      <p class="loader">Meals loading...</p>
    } @else if (loadError()) {
      <p>{{ loadError() }}</p>
    } @else {
      @for (meal of meals(); track meal.id) {
        <div class="grid-item">
          <app-card
            [title]="meal.name"
            [description]="meal.description"
            [image]="meal.imageUrl === '' ? `/images/FoodImage.png` : meal.imageUrl"
            [tags]="getMealClassification(meal?.dietaryClassification)"
            (delete)="confirmDelete(meal)"
          >
          </app-card>
        </div>
      }
    }
  </div>
</div>
