<p-confirmDialog />

<div class="meal-list-page">
  <h2>Meals</h2>

  <p-table [value]="meals">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th style="width: 6rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-meal>
      <tr>
        <td>{{ meal.name }}</td>
        <td>{{ meal.category }}</td>
        <td>{{ meal.price | currency:'EGP ' }}</td>
        <td>
          <p-button icon="pi pi-trash" [text]="true" severity="danger"
                    (onClick)="confirmDelete(meal)" />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr><td colspan="4">No meals found.</td></tr>
    </ng-template>
  </p-table>
</div>
