.meal-form {
  width: 500px;
  margin: 40px auto;
}

h1 {
  margin-bottom: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

label {
  font-weight: 500;
}

.error {
  color: #dc2626;
}

input,
textarea,
p-select,
p-inputnumber {
  width: 100%;
}